@import "./reset.scss";

// Theme Color
$black: #000000;
$white: #ffffff;
$light-gray: #919496;
$dark-gray: #424242;
$green: #1db954;
$light-green: #1ed760;

// Font
body {
  box-sizing: border-box;
  color: $white;
  font-family: "Roboto", sans-serif;
}

.app {
  background-color: $black;
  color: $white;
  display: flex;
  height: 100%;
  overflow: scroll;
  width: 100%;
}
