.tab-nav {
  //background-color: rgba($white, 0.1);
  height: 100%;
  left: 0;
  min-width: 220px;
  padding-top: 50px;
  //padding: 0.5rem;
  position: fixed;
  width: 20%;
}
.tab-item {
  padding: 0.5rem 0;
  a {
    border-left: 3px solid transparent;
    color: rgba($white, 0.65);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    &.active {
      border-color: $green;
      color: $white;
    }
  }
}
